<article class="trending">
      <div class="trending-content">
        <p class="trending-name">
          {{name}}
        </p>
        <p class="trending-author">
          <a href="#">{{author}}</a>
        </p>
      </div>
    </article>
