<a href="./index.html"><h1 class="site-title"><i class="far fa-comments"></i> ChatterBox</h1></a>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem navlink"><a href="#">Home</a></li>
    <li class="navitem navlink"><a href="#">Login</a></li>
    <li class="navitem navlink"> <button type="button" id="create-chat-button"><p>Create</p></button> </li>
  </ul>
</nav>
