<article class="chat" onclick="document.location='./login.html'">
  <div class="chat-content">
    <p class="chat-name">
      {{name}}
    </p>
    <p class="chat-author">
      <a href='#'>{{author}}</a>
    </p>
  </div>
</article>
