<article class="chat">
  <div class="chat-content">
    <p class="chat-name">
      {{chatName}}
    </p>
    <p class="chat-author">
      <a href='./chat/{{chatName}}'>{{members}}</a>
    </p>
  </div>
</article>
